#banner {
  color: red;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;

  span {
    font-weight: 300;
    color: red;
  }
}

@media screen and (max-width: 768px) {
  #banner {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  #banner {
    cursor: default;
  }
}

@media screen and (max-width: 425px) {
  #banner {
    font-size: 1.5rem;
  }
}