@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'ngx-toastr/toastr';

.toast-container {
  top: 10px;

  .ngx-toastr {
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
}

.toast-error {
  background: red;
  font-weight: 600;
  font-size: 1.2rem;
}

.toast-message {
  width: fit-content;
  text-wrap: nowrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  color: white;
  text-decoration: none;
  font-family: "poppins";
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  background: url("assets/DARKGRAY BACKGROUND PATTERN.png") no-repeat;
  background-attachment: fixed, local;
  background-size: cover;
}

.no-focus:focus-visible {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.1rem;
}

::-webkit-scrollbar-track {
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: red;
}