a {
  color: red;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 2px;
  bottom: 0;
  width: 25px;
  height: 2px;
  background-color: red;
  transition: all 500ms linear;
}

a.active::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 640px) {
  a {
    cursor: default;
  }
}

@media screen and (max-width: 425px) {
  a {
    font-size: 1.75rem;
  }
}