nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  a {
    color: red;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 25px;
    height: 2px;
    background-color: red;
    transition: all 500ms linear; 
  }

  a.active::after {
    width: 100%;
  }
}