<main>
  <section *ngIf="UserInfo">
    <form id="user-data-form">
      <span class="field">
        <label for="email">Your Email</label>
        <input type="text" name="email" id="email" autocomplete="on"
          placeholder="Something Went Wrong Getting Your Email!" value="{{ user?.email }}" disabled>
      </span>
      <span class="field">
        <label for="username">Your Username</label>
        <input type="text" name="username" id="username" autocomplete="on"
          placeholder="Something Went Wrong Getting Your Username!" value="{{ user?.username }}" disabled>
      </span>
    </form>


    <div class="button-group">
      <button class="button white" type="button"
        (click)="UserInfo = false; updateUser = true; update.setValue({email: user?.email, username: user?.username, passwordConfirm: ''})">
        UPDATE EMAIL | USERNAME
      </button>
      <button class="button white" type="button"
        (click)="UserInfo = false; updateUserPass = true; updatePass.setValue({oldPassword: '', password: ''})">
        UPDATE PASSWORD
      </button>
      <div class="warn-zone">
        <button class="button red" type="button" (click)="UserInfo = false; confirmLogOut = true">
          LOG OUT
        </button>
        <button class="button red" type="button"
          (click)="UserInfo = false; confirmDelete = true; deleteUser.setValue({ password: ''})">
          DELETE ACCOUNT
        </button>
      </div>
      <button routerLink="/generate" class="button white" type="button">
        BACK TO GENERATE
      </button>
    </div>
  </section>

  <section *ngIf="updateUser">
    <form class="edit-user" [formGroup]="update" (submit)="updateSubmit(userId ?? '')">
      <div class="fields">
        <span class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="exemple@email.com" autocomplete="on"
            formControlName="email">
        </span>

        <span class="field">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="username_example" autocomplete="on"
            formControlName="username">
        </span>

        <div class="division">
          <span></span>
          <p>Confirm Your Password</p>
          <span></span>
        </div>

        <span class="field">
          <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Put Your Password Here!"
            autocomplete="on" formControlName="passwordConfirm">
        </span>
      </div>

      <div class="button-group">
        <button type="submit" [className]="update.valid ? 'button red' : 'button'"
          [disabled]="!update.valid">SAVE!</button>
        <button type="button" class="button red" (click)="updateUser = false; UserInfo = true">CANCEL!</button>
      </div>
    </form>
  </section>


  <section *ngIf="updateUserPass">
    <form class="edit-user-pass" [formGroup]="updatePass" (submit)="updatePassSubmit(userId ?? '')">

      <div class="fields">
        <span class="field">
          <label for="oldPassword">Old Password</label>
          <input type="password" name="oldPassword" id="oldPassword" placeholder="Your Old Password" autocomplete="on"
            formControlName="oldPassword">
        </span>

        <span class="field">
          <label for="password">New Password</label>
          <input type="password" name="password" id="password" placeholder="new_password123" autocomplete="on"
            formControlName="password">
        </span>
      </div>

      <div class="button-group">
        <button type="submit" [className]="updatePass.valid ? 'button red' : 'button'"
          [disabled]="!updatePass.valid">SAVE!</button>
        <button type="button" class="button red" (click)="updateUserPass = false; UserInfo = true">CANCEL!</button>
      </div>
    </form>
  </section>

  <section *ngIf="confirmLogOut">
    <div class="confirm-logout">
      <p>Are you sure you want to <span>Log Out</span>?</p>

      <div class="button-group">
        <button class="button red" type="button" (click)="logout();">
          LOG OUT!
        </button>
        <button class="button white" type="button" (click)="confirmLogOut = false; UserInfo = true">
          CANCEL!
        </button>
      </div>
    </div>
  </section>

  <section *ngIf="confirmDelete">
    <div class="confirm-delete">

      <form class="field" [formGroup]="deleteUser">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Put Your Password Here!" autocomplete="on"
          formControlName="password">
      </form>

      <div class="division">
        <span></span>
        <p>Confirm Your Password</p>
        <span></span>
      </div>

      <p>Are you sure you want to <span>Delete your account</span>?</p>

      <div class="button-group">
        <button type="button" [className]="deleteUser.valid ? 'button red' : 'button'" [disabled]="!deleteUser.valid"
          (click)="delete(userId ?? '')">
          DELETE!
        </button>
        <button class="button white" type="button" (click)="confirmDelete = false; UserInfo = true">
          CANCEL!
        </button>
      </div>
    </div>
  </section>
</main>