<main>
  <input type="search" name="search" id="search" autocomplete="off" spellcheck="false"
    placeholder="Search by Name | Code | Owner" class="no-focus" (input)="onSearchChange($event)">

  <div *ngIf="menus.length == 0" class="not-menu">
    <h1>THERE ISN'T MENUS HERE!</h1>
    <a class="no-focus" routerLink="/generate/new">Generate a menu</a>
  </div>

  <div *ngIf="menus.length > 0" class="content">
    @for (menu of menus; track $index) {
    <div class="menu">
      <span class="name">{{ menu.name }}</span>
      <span class="owner">{{ '@' + menu.user.username }}</span>
      <span class="code">{{ '#' + menu.code }}</span>
      <a class="page no-focus" routerLink="/scan/{{ menu.code }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#f00"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-square-arrow-out-up-right">
          <path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6" />
          <path d="m21 3-9 9" />
          <path d="M15 3h6v6" />
        </svg>
      </a>
    </div>
    }
  </div>
</main>