<main>
  <div class="filter-search">
    <input type="search" name="search" id="search" placeholder="Search by Email or Username" class="no-focus"
      (input)="onSearchChange($event)">

    <div class="button-group">

      <svg (click)="loadUsers()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
        fill="none" stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-rotate-cw">
        <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8" />
        <path d="M21 3v5h-5" />
      </svg>

      <button (click)="userFilter('all')" class="no-focus" [class.selected]="selectedOption === 'all'">ALL</button>

      <button (click)="userFilter('user')" class="no-focus"
        [class.selected]="selectedOption === 'user'">USER(S)</button>

      <button (click)="userFilter('admin')" class="no-focus"
        [class.selected]="selectedOption === 'admin'">ADMIN(S)</button>
    </div>
  </div>

  <div class="content">
    <header class="content-header">
      <span class="email">email</span>
      <span class="username">username</span>
      <span class="role">role</span>
      <span class="modal"></span>
    </header>

    <div class="list">
      @for (user of users; track $index) {
      <div class="user">
        <span class="email">{{ user.email }}</span>
        <span class="username">{{ user.username }}</span>
        <span class="role">{{ user.role }}</span>
        <span class="modal">
          <button type="button" class="no-focus" (click)="userModal = true; selectedUser = user">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
              stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-bolt">
              <path
                d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z" />
              <circle cx="12" cy="12" r="4" />
            </svg>
          </button>
        </span>
      </div>

      <div class="user-modal" [style.display]="userModal ? 'flex' : 'none'">
        <div class="user-modal-content">
          <header class="user-modal-header">
            <p>{{ selectedUser?.id }}</p>

            <button type="button" class="no-focus" (click)="closeUserModal()">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
                stroke="#ff0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-x">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
              </svg>
            </button>
          </header>

          <div class="user-modal-body">

            <div *ngIf="modalButtons" class="modal-buttons">
              <button type="button" class="modal-button" (click)="modalButtons = false; editUser = true">
                ATUALIZAR EMAIL | USERNAME
              </button>
              <button type="button" class="modal-button" (click)="modalButtons = false; editUserPass = true">
                ATUALIZAR SENHA
              </button>
              <button type="button" class="modal-button" (click)="modalButtons = false; confirmDelete = true">
                DELETAR USUÁRIO
              </button>
            </div>

            <form *ngIf="editUser" class="edit-user" [formGroup]="update" (submit)="updateSubmit(selectedUser?.id)">
              <div class="fields">
                <span class="modal-field">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" placeholder="exemple@email.com" autocomplete="on"
                    formControlName="email">
                </span>

                <span class="modal-field">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" placeholder="username_example" autocomplete="on"
                    formControlName="username">
                </span>
              </div>

              <div class="button-group">
                <button type="submit" class="modal-button">SALVAR!</button>
                <button type="button" class="modal-button"
                  (click)="editUser = false; modalButtons = true">CANCELAR!</button>
              </div>
            </form>

            <form *ngIf="editUserPass" class="edit-user-pass" [formGroup]="updatePass"
              (submit)="updatePassSubmit(selectedUser?.id)">

              <span class="modal-field">
                <label for="password">Password</label>
                <input type="text" name="password" id="password" placeholder="new_password123" autocomplete="on"
                  formControlName="password">
              </span>

              <div class="button-group">
                <button type="submit" class="modal-button">SALVAR!</button>
                <button type="button" class="modal-button"
                  (click)="editUserPass = false; modalButtons = true">CANCELAR!</button>
              </div>
            </form>

            <div *ngIf="confirmDelete" class="delete-confirmation">
              <p>Are you sure you want to delete {{ selectedUser?.username }}?</p>
              <div class="button-group">
                <button type="button" class="modal-button" (click)="deleteUser(selectedUser?.id)">YES, DELETE!</button>
                <button type="button" class="modal-button"
                  (click)="confirmDelete = false; modalButtons = true">CANCEL!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</main>