main {
  width: 100%;
  height: 100dvh;
  background-color: black;
  padding: 80px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  .filter-search {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.25rem;

    input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid red;
      padding: 0.3rem 0.5rem;
      color: red;
    }

    input::placeholder {
      color: rgba(255, 0, 0, 0.5);
    }

    input::selection {
      color: black;
      background-color: red;
    }

    input::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    .button-group {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg {
        cursor: pointer;
      }

      button {
        background-color: transparent;
        border: 2px solid red;
        color: red;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 250ms linear;
      }

      button:hover,
      button:focus-visible {
        background-color: red;
        color: black;
      }

      button.selected {
        background-color: red;
        color: black;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .email {
      width: 100%;
      max-width: 50%;
      overflow: hidden;
    }

    .username {
      width: 100%;
      max-width: 25%;
      overflow: hidden;
    }

    .role {
      width: 100%;
      max-width: 15%;
      overflow: hidden;
      display: flex;
      justify-content: center
    }

    .modal {
      width: 100%;
      max-width: 10%;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    span {
      color: red;
    }

    .content-header {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(255, 0, 0, 0.25);
      margin-bottom: 0.5rem;

      span {
        font-weight: 600;
        font-size: 1.25rem;
        text-transform: uppercase;
      }
    }

    .list {
      width: 100%;
      height: 450px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto;

      .user {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;

        span {
          user-select: text;
        }

        span::selection {
          background-color: red;
          color: black;
        }

        span {
          button {
            background-color: transparent;
            border: none;
            height: fit-content;
            width: fit-content;
            cursor: pointer;

            img {
              margin-bottom: -0.25rem;
            }
          }
        }
      }

      .user-modal {
        display: none;
        position: fixed;
        z-index: 12;
        inset: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(0.25rem);

        .user-modal-content {
          background-color: black;
          border: 2px solid red;
          border-radius: 1rem;
          margin: 5% auto;
          width: 600px;
          display: flex;
          flex-direction: column;
          overflow: hidden;

          .user-modal-header {
            width: 100%;
            height: fit-content;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
              color: red;
              font-size: 0.8rem;
              user-select: text;
            }

            p::selection {
              background-color: red;
              color: black;
            }

            button {
              background-color: transparent;
              border: none;
              height: fit-content;
              width: fit-content;
              cursor: pointer;
            }
          }

          .user-modal-body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .modal-button {
              width: 100%;
              border-radius: 0.5rem;
              background-color: red;
              padding: 0.75rem 0;
              border: 2px solid red;
              transition: all linear 250ms;
              font-weight: 600;
              cursor: pointer;
            }
            
            .modal-button:hover,
            .modal-button:focus-visible {
              outline: none;
              background-color: white;
              padding: 0.75rem 0;
              border: 2px solid white;
              color: red;
            }
            
            @media screen and (max-width: 640px) {
              .modal-button {
                cursor: default;
              }
            }

            .modal-field {
              display: flex;
              flex-direction: column;
              padding: 0 1rem;
              
              label {
                color: red;
              }
            
              input {
                border-radius: 0.5rem;
                color: red;
                padding: 0.75rem 0.5rem;
              }
            
              input:focus-visible {
                outline: red auto 1px;
              }
            
              input::selection {
                background-color: red;
                color: white;
              }
            
              input::placeholder {
                color: rgba(255, 0, 0, 0.5);
                font-weight: 300;
              }
            }

            .modal-buttons {
              display: flex;
              height: 100%;
              width: 100%;
              flex-direction: column;
              justify-content: center;
              padding: 0 1rem;
              gap: 1rem;
            }

            .edit-user {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              flex-direction: column;
              gap: 1rem;

              .fields {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.25rem;
              }

              .button-group {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                padding: 0 1rem;
              }
            }

            .edit-user-pass {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              flex-direction: column;
              gap: 1rem;

              .button-group {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                padding: 0 1rem;
              }
            }

            .delete-confirmation {
              display: flex;
              height: 100%;
              width: 100%;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              padding: 0 1rem;
              gap: 0.25rem;

              p {
                font-weight: 500;
                font-size: 1.15rem;
              }

              .button-group {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                padding: 0 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  main {
    padding: 60px 10px 10px;

    .filter-search {

      input {
        font-size: 0.75rem;
        width: 200px;
        padding: 0.25rem;
      }

      .button-group {
        svg {
          cursor: default;
        }

        button {
          cursor: default;
          padding: 1px 5px;
          font-size: 0.75rem;
        }
      }
    }

    .content {
      .email {
        max-width: 40%;
      }

      .username {
        max-width: 30%;
      }

      .role {
        max-width: 15%;
      }

      .modal {
        max-width: 15%;
      }

      .content-header span {
        font-size: 1rem;
      }

      .list {
        .user {
          span {
            font-size: 0.75rem;

            button {
              cursor: default;
            }
          }
        }

        .user-modal .user-modal-content {
          background-color: transparent;
          width: 100%;
          height: 100%;
          margin: 0;
          border: none;

          .user-modal-header button {
            cursor: default;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  main {
    .filter-search {
      flex-direction: column-reverse;
      gap: 0.5rem;

      input {
        width: 260px;
        text-align: center;
      }

      .button-group {
        flex-direction: row-reverse;
      }
    }

    .content {
      .content-header span {
        font-size: 0.8rem;
      }

      .list {
        .user-modal {
          .user-modal-content {
            .user-modal-header p {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}