@if (menuFound) {
@if (options?.length == 0 ) {
<main class="not">
  <div>
    <h1>/:</h1>
    <p>Oops! This menu has no options.</p>
    <a class="no-focus" routerLink="/scan">Back to Scan</a>
  </div>
</main>
} @else {
<main>
  @for (option of options; track $index) {
  <article>
    <span class="bg">
      <svg *ngIf="!option.picture" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white"
        stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image-off">
        <line x1="2" x2="22" y1="2" y2="22" />
        <path d="M10.41 10.41a2 2 0 1 1-2.83-2.83" />
        <line x1="13.5" x2="6" y1="13.5" y2="21" />
        <line x1="18" x2="21" y1="12" y2="15" />
        <path d="M3.59 3.59A1.99 1.99 0 0 0 3 5v14a2 2 0 0 0 2 2h14c.55 0 1.052-.22 1.41-.59" />
        <path d="M21 15V5a2 2 0 0 0-2-2H9" />
      </svg>
    </span>
    <span class="info">
      <span>
        <h1>{{ option.name }}</h1>
        <h1>R${{ option.price }}</h1>
      </span>
      <p class="description">{{ option.description }}</p>
      <h1>{{ option.avaliability && "DISPONÍVEL." }}</h1>
    </span>
  </article>
  }

  <a id="scan-link" class="no-focus" routerLink="/scan">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-from-line">
      <path d="m9 6-6 6 6 6" />
      <path d="M3 12h14" />
      <path d="M21 19V5" />
    </svg>
  </a>
</main>
}} @else {
<main class="not">
  <div>
    <h1>404!</h1>
    <p>Oops! The page you're looking for does not exist.</p>
    <a class="no-focus" routerLink="/scan">Back to Scan</a>
  </div>
</main>
}