main {
  width: 100%;
  height: 100dvh;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  form {
    height: fit-content;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    #banner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      h1 {
        color: red;
        font-weight: 500;
      }
    }

    div {
      width: 100%;
      height: 100%;
      padding: 0 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.25rem;

      .fields {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 0.35rem;

        span {
          width: 100%;
          display: flex;
          flex-direction: column;

          label {
            margin-left: 0.25rem;
            color: red;
            font-size: 1.5rem;
            font-weight: 500;
          }

          input {
            height: 45px;
            border-radius: 0.5rem;
            color: red;
            font-size: 1.25rem;
            padding: 0 0.5rem;
          }

          input:focus-visible {
            outline: red auto 1px;
          }

          input::selection {
            background-color: red;
            color: white;
          }

          input::placeholder {
            color: rgba(255, 0, 0, 0.5);
            font-weight: 300;
          }
        }
      }

      .buttons {
        padding: 0;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        button {
          height: 50px;
          border-radius: 0.5rem;
          transition: all 300ms linear;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 600;
          outline: none;
          cursor: pointer;
        }

        button:hover,
        button:focus-visible {
          outline: none;
        }

        button[type="submit"] {
          background: white;
          border: white 3px solid;
          color: red;
        }

        button[type="submit"]:disabled {
          background-color: rgb(100, 100, 100);
          border: rgb(100, 100, 100) 3px solid;
          color: rgb(100, 0, 0);
          cursor: default;
        }

        button[type="submit"].enable:hover,
        button[type="submit"].enable:focus-visible {
          background-color: red;
          border: red 3px solid;
          color: white;
        }

        button[type="button"] {
          background-color: red;
          border: 3px solid red;
          color: white;
        }

        button[type="button"]:hover,
        button[type="button"]:focus-visible {
          border: 3px solid white;
          background-color: white;
          color: red;
        }
      }

    }
  }
}

@media screen and (max-width: 640px) {
  main {
    form {
      width: 400px;

      #banner {
        h1 {
          font-size: 1.5rem;
        }
      }

      div {
        gap: 1rem;

        .fields {
          span {
            label {
              font-size: 1rem;
            }

            input {
              height: 35px;
              font-size: 1rem;
            }
          }
        }

        .buttons button {
          height: 35px;
          font-size: 1.5rem;
          cursor: default;
        }
      }
    }

    padding-top: 60px;
  }
}

@media screen and (max-width: 425px) {
  main {
    form {
      width: 100%;

      div {
        padding: 1rem;
      }
    }
  }
}