<main>
  <form method="post" [formGroup]="hasAccount ? login : register"
    (submit)="hasAccount ? loginSubmit() : registerSubmit()">
    <span id="banner">
      <h1>QUICKMENU</h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ff0000"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed">
        <path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8" />
        <path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7" />
        <path d="m2.1 21.8 6.4-6.3" />
        <path d="m19 5-7 7" />
      </svg>
    </span>

    <div>

      @if (!hasAccount) {
      <div class="fields">
        <span>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="exemple@email.com" autocomplete="on"
            formControlName="email">
        </span>
        <span>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="username_example" autocomplete="on"
            formControlName="username">
        </span>
        <span>
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="p@SSw0rd_3X4MPLe" autocomplete="on"
            formControlName="password">
        </span>
      </div>

      <div class="buttons">
        <button type="submit" [className]="register.valid && 'enabled'" [disabled]="!register.valid">
          REGISTER
        </button>
        <button type="button" (click)="toggleHasAccount()">
          EXISTENT ACCOUNT
        </button>
      </div>
      } @else if (hasAccount) {
      <div class="fields">
        <span>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="my_username123" autocomplete="on"
            formControlName="username">
        </span>
        <span>
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" placeholder="MY_p@SSw0rd" autocomplete="on"
            formControlName="password">
        </span>
      </div>

      <div class="buttons">
        <button type="submit" [className]="login.valid && 'enabled'" [disabled]="!login.valid">
          LOGIN
        </button>
        <button type="button" (click)="toggleHasAccount()">
          NEW ACCOUNT
        </button>
      </div>
      }
    </div>
  </form>
</main>